.category-create-container {
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
  
  .field {
    margin-bottom: 1.5rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  
  small.p-error {
    margin-top: 0.25rem;
    display: block;
  }
}
